@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: white;
    background-color: rgb(45, 45, 45);
    font-family: 'Bebas Neue', sans-serif;
}

#title {
    font-size: 55PX;
    text-align: center;
    border-radius: 25px;
    border: 2px white solid;
}

#websites {
    font-size: 45px;
    text-align: center;
    list-style-position: inside;
}

#link {
    padding: 2px;
    transition: 0.3s;
    color: white;
    text-decoration: none;
}

#link:hover {
    transition: 0.3s;
    cursor: pointer;
    background-color: #00C9FF;
    border-radius: 6px;
}

.github-link {
    margin: 0;
    position: absolute;
    top: 12%;
    left: 98%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.mail-link {
    margin: 0;
    position: absolute;
    top: 12%;
    left: 96%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); 
}

.footer-container {
    position: fixed;
    background-color: black;
    padding-bottom: 4rem;
}

.footer {
    width: 100%;
    text-align: center;
    position: fixed;
    right: 0px;
    bottom: 0px;
    height: 25vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.footer-heading {
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
}

.footer-heading #copyright {
    margin: 0;
    text-align: center;
    position: fixed;
    display: fixed;
    bottom: 0%;
    left: 51%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.footer .version {
    margin: 0;
    position: absolute;
    bottom: 1%;
    font-size: 25px;
    left: 1.2%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.themeMode-dark {
    font-size: 30px;
    margin: 0;
    position: absolute;
    top: 3.6%;
    left: 93%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.themeMode-light {
    font-size: 30px;
    margin: 0;
    position: absolute;
    top: 3.6%;
    left: 93%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}